.center { text-align: center; }
.right { float: right; }
.left { float: left; }
.textright { text-align: right; }
p.title { font-weight: bold; font-size: 1.5em; margin-bottom: 0.2em; }
ul { margin-left: 2em; }
.red { color: red; }
table.center th, table.center td{ text-align: center; vertical-align: middle; }
.inline { display: inline; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.statusmsg { position: fixed; top: 2em; color: #000; border-radius: 5px; background-color: #D4FFA8; text-align: center; display: none; z-index: 1000; padding: 0.5em 0.8em; }

a#persona-login{ color: orange; }
li#profile-link, li#nav-projects { visibility: hidden; }
div.row.messages { margin: 1em auto; }
footer.row { text-align: center; font-size: 10px; color: #CCC; margin-top: 1em; height: 2em; line-height: 2em; }

.profile-name { font-size: 1.5em; font-weight: bold; }
#profile-change-name, #profile-cancel-change-name { font-size: 0.5em; font-weight: normal; vertical-align: middle; }
.hidden-until-logged-in, #profile-cancel-change-name { visibility: hidden; }
.profile-name img { vertical-align: middle; margin-right: 10px; }
.profile-edit { line-height: 60px; }
.vcard dl { display: block; margin: 8px 10px 8px; }
.vcard dl dt { display: block; float: left; width: 120px; color: #999; }

#reminder-list ul { list-style: none; margin-left: 1em; }

p.project-name { margin-bottom: 5px; font-weight: bold; font-size: 1.5em; color: #666; }
.wall-meta { float: right; }
div.avatar { padding-right: 0px; }
div.avatar img { float: right; display: block; }
.wall-poster-container { display: none;}

.todo-item { margin: 0.6em auto; padding: 0.3em 0 1em 0; }
.todo-item .done { text-decoration:line-through; }
.todo-item .text { margin-left: 0.3em; }
.todo-item .control { float: right; height: 1em; }
.todo-item .delete { color: red; font-weight: bold; margin-left: 3px; }
.todo-item.last { border-bottom: 0; }
.todo-item span.checkbox:hover, .todo-item span.text:hover { cursor: pointer; }
.todo-item-details, .todo-item-details-edit { position: relative; display: none; }
.todo-item-details .description { border: 1px dashed #CCC; padding: 0.5em; }
.todo-item-details a.close, .todo-item-details-edit a.close { display: block; position: absolute; top: 4px; right: 8px; z-index: 2; }
.todo-sep { border-top: 1px solid #CCC; height: 1px; margin: 0; padding: 0; }
#todo-new-container { display:none; }

div#meeting-add-box { position: relative; display: none; }
div#meeting-add-box a.close { display: block; position: absolute; top: 4px; right: 8px; z-index: 2; }
.meeting-details-info-box { height: 1.5em; line-height: 1.5em; text-align: center; }

#shared-modal hr { margin: 10px 0 9px 0; }

td hr { margin: 5px auto; }