<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Simple Project Management</title>

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/static/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/static/stylesheets/app.css">

  <script src="https://login.persona.org/include.js"></script>
  <script>
    window.current_user_email = {% if current_user_email %}"{{ current_user_email }}"{% else %} undefined {% endif %};
    window.current_user_key = {% if current_user_key %}"{{ current_user_key }}"{% else %} undefined {% endif %};
  </script>

  <!--
  <script src="/static/javascripts/modernizr.foundation.js"></script>
  -->
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
  <div class="row contain-to-grid">
    <nav class="top-bar">
      <ul>
        <li class="name"><h1><a href="#/home">Simple Project Management</a></h1></li>
      </ul>
      <section>
        <ul class="left">
          <li class="has-dropdown hidden-until-logged-in" id="project-dropdown-li">
            <a href="#" onclick="return false;">Projects</a>

            <ul class="dropdown" id="project-dropdown">
              {@ _.each(projects, function(project, index, list){ @}
              <li><a href="#/p/{[ project['key'] ]}">{[ project["name"] ]}</a></li>
              {@ }); @}
            </ul>

          </li>
        </ul>

        <ul class="right">
          <li class="hidden-until-logged-in"><a id="new-project-link" href="">New Project</a></li>
          <li id="profile-link" class="hidden-until-logged-in"><a href="#/profile">My Profile</a></li>
          <li><a href="#" id="persona-login">Login with Your Email</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="row messages">
    <div class="twelve columns">
      <div id="messages">
        <div class="alert-box {[ message.get('type') ]}">
          {[ message.get("content") ]}
          <a href="" class="close">&times;</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/html" id="profile-view">
    <div class="profile-view">
      <div class="row">
        <div class="eight columns">
          <p class="profile-name">
            <img src="http://www.gravatar.com/avatar/{[ hex_md5(user.get('emails')[0]) ]}?r=pg&s=60" title="Your avatar can be changed at gravatar.com" />
            <span>{[ user.get("name") ]}</span> <a href="" id="profile-change-name">Change</a>
            <a href="" id="profile-cancel-change-name">Cancel</a>
          </p>
        </div>
        <hr />
      </div>

      <div class="row">
        <div class="twelve columns">
          <p class="title">Information</p>
          <ul>
            {@ _.each(user.get("emails"), function(email, index, list){ @}
            <li>Email: <a href="mailto:{[ email ]}">{[ email ]}</a></li>
            {@ }); @}
          </ul>
          <p class="title">Projects</p>
          <ul>
            {@ _.each(user.get("projects"), function(project, index, list){ @}
            <li><a href="#/p/{[ project['key'] ]}">{[ project["name"] ]}</a>: {[ user.get("positions")[project["key"]] ]}</li>
            {@ }); @}
          </ul>
        </div>
      </div>
    </div>
  </script>

  <div id="main">
    <div class="row">
      <h2 class="center">You need to sign in to continue!</h2>
    </div>
  </div>


  <script type="text/html" id="project-view">
    <div class="row">
      <div class="twelve columns">
        <p class="right project-name"><a href="#/p/{[ project.get('key') ]}/wall" title="{[ project.get('desc') ]}">{[ project.get("name") ]}</a></p>
        <dl class="tabs">
          <dd><a href="#/p/{[ project.get('key') ]}/wall" class="project-nav-link" id="project-wall-link">Wall</a></dd>
          <dd><a href="#/p/{[ project.get('key') ]}/todo" class="project-nav-link" id="project-todo-link">Todo</a></dd>
          <dd><a href="#/p/{[ project.get('key') ]}/schedule" class="project-nav-link" id="project-schedule-link">Schedule</a></dd>
          <dd><a href="#/p/{[ project.get('key') ]}/files" class="project-nav-link" id="project-files-link">Files</a></dd>
          <!-- <dd><a href="#/p/{[ project.get('key') ]}/discussions" class="project-nav-link" id="project-discussions-link">Discussions</a></dd> -->
          {@ if (project.get("owners").toString().indexOf(my_key) != -1){ @}
          <dd><a href="#/p/{[ project.get('key') ]}/manage" class="project-nav-link" id="project-manage-link">Manage</a></dd>
          {@ } @}
        </dl>

        <div class="row">
          <div class="nine columns">
            <div id="project-content-view">

            </div>
            <div class="row">
              <div class="twelve columns">
                <p class="title">Todos <a href="" class="right" id="todo-add-item" title="Add Item">+</a></p>
              </div>
            </div>
          </div>
          <div class="three columns" id="reminder-list">
            <div class="panel radius">
              <h5>Your todos</h5>
              <ul>
                {@ _.each(todos, function(todo, index, list){ @}
                <li>{[ todo["name"] ]} - {[ todo["time_remaining"] ]}</li>
                {@ }); @}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/html" id="project-wall-view">
    <div class="wall-poster-container">
      <textarea placeholder="Wall Post" id="wall-add-post-textarea"></textarea>
      <a class="right small radius button" id="wall-post-button">Post</a>
      <br class="clear" />
      <hr />
    </div>
    <div class="wall-post-container"></div>
  </script>

  <script type="text/html" id="wall-item">
    <div class="row">
      <div class="one columns avatar">
        <img src="http://www.gravatar.com/avatar/{[ hex_md5(post.get('author')['emails'][0]) ]}?s=50&r=pg" />
      </div>
      <div class="eleven columns">
        <div class="wall-content">
          <strong>{[ post.get("author")["name"] ]}</strong>: {[ post.get("content") ]}
        </div>
        <div class="wall-meta">
          {[ utils.relative_time(post.get("pubdate")) ]}
          {@ if (post.get("author")["key"] == window.current_user_key){ @}
          | <a href="" class="red delete-post" data-key="{[ post.get('key') ]}" title="Delete">&times;</a>
          {@ } @}
        </div>
      </div>
    </div>
    <hr />
  </script>

  <footer class="row">
    <a href="http://carletonrobotics.com">CU Robotics</a> | Ardroid Group 2012 | <a href="#/credits">Credits</a>
  </footer>


  <script src="/static/javascripts/jquery.js"></script>
  <script src="/static/javascripts/md5-min.js"></script>
  <!--
  <script src="/static/javascripts/foundation.min.js"></script>
  -->
  <script src="/static/javascripts/underscore-min.js"></script>
  <script src="/static/javascripts/backbone-min.js"></script>
  <script src="/static/javascripts/app.js"></script>
</body>
</html>
