<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Simple Project Management</title>

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/static/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/static/stylesheets/app.css">
  <link href="/static/stylesheets/jquery-ui-1.9.1.custom.min.css" rel="stylesheet">

  <script src="https://login.persona.org/include.js"></script>
  <script>
    window.current_user_email = {% if current_user_email %}"{{ current_user_email }}"{% else %} undefined {% endif %};
    window.current_user_key = {% if current_user_key %}"{{ current_user_key }}"{% else %} undefined {% endif %};
  </script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
  <div class="row contain-to-grid">
    <nav class="top-bar">
      <ul>
        <li class="name"><h1><a href="#/home">Simple Project Management</a></h1></li>
      </ul>
      <section>
        <ul class="left">
          <li class="has-dropdown hidden-until-logged-in" id="project-dropdown-li">
            <a href="#" onclick="return false;">Projects</a>

            <ul class="dropdown" id="project-dropdown">
              {@ _.each(projects, function(project, index, list){ @}
              <li><a href="#/p/{[ project['key'] ]}">{[ project["name"] ]}</a></li>
              {@ }); @}
            </ul>

          </li>
        </ul>

        <ul class="right">
          <li class="hidden-until-logged-in"><a id="new-project-link" href="">New Project</a></li>
          <li id="profile-link" class="hidden-until-logged-in"><a href="#/profile">My Profile</a></li>
          <li><a href="#" id="persona-login">Login with Your Email</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="row messages">
    <div class="twelve columns">
      <div id="messages">
        <div class="alert-box {[ message.get('type') ]}">
          {[ message.get("content") ]}
          <a href="" class="close">&times;</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/html" id="profile-view">
    <div class="profile-view">
      <div class="row">
        <div class="eight columns">
          <p class="profile-name">
            <img src="http://www.gravatar.com/avatar/{[ hex_md5(user.get('emails')[0]) ]}?r=pg&s=60" title="Your avatar can be changed at gravatar.com" />
            <span>{[ user.get("name") ]}</span> <a href="" id="profile-change-name">Change</a>
            <a href="" id="profile-cancel-change-name">Cancel</a>
          </p>
        </div>
        <hr />
      </div>

      <div class="row">
        <div class="twelve columns">
          <p class="title">Information</p>
          <ul>
            {@ _.each(user.get("emails"), function(email, index, list){ @}
            <li>Email: <a href="mailto:{[ email ]}">{[ email ]}</a></li>
            {@ }); @}
          </ul>
          <p class="title">Projects</p>
          <ul>
            {@ _.each(user.get("projects"), function(project, index, list){ @}
            <li><a href="#/p/{[ project['key'] ]}">{[ project["name"] ]}</a>: {[ user.get("positions")[project["key"]] ]}</li>
            {@ }); @}
          </ul>
        </div>
      </div>
    </div>
  </script>

  <div id="main">
    <div class="row">
      <h2 class="center">You need to sign in to continue!</h2>
    </div>
  </div>


  <script type="text/html" id="project-view">
    <div class="row">
      <div class="twelve columns">
        <p class="right project-name"><a href="#/p/{[ project.get('key') ]}/wall" title="{[ project.get('desc') ]}">{[ project.get("name") ]}</a></p>
        <dl class="tabs">
          <dd><a href="#/p/{[ project.get('key') ]}/wall" class="project-nav-link" id="project-wall-link">Wall</a></dd>
          <dd><a href="#/p/{[ project.get('key') ]}/todo" class="project-nav-link" id="project-todo-link">Todo</a></dd>
          <dd><a href="#/p/{[ project.get('key') ]}/schedule" class="project-nav-link" id="project-schedule-link">Schedule</a></dd>
          <dd><a href="#/p/{[ project.get('key') ]}/files" class="project-nav-link" id="project-files-link">Files</a></dd>
          <!-- <dd><a href="#/p/{[ project.get('key') ]}/discussions" class="project-nav-link" id="project-discussions-link">Discussions</a></dd> -->
          {@ if (project.get("owners").toString().indexOf(my_key) != -1){ @}
          <dd><a href="#/p/{[ project.get('key') ]}/manage" class="project-nav-link" id="project-manage-link">Manage</a></dd>
          {@ } @}
        </dl>

        <div class="row">
          <div class="nine columns">
            <div id="project-content-view">

            </div>
          </div>
          <div class="three columns" id="reminder-list">
            <div class="panel radius">
              <h5>Your todos</h5>
              <ul>
                {@ _.each(todos, function(todo, index, list){ @}
                <li>{[ todo["name"] ]} - {[ todo["time_remaining"] ]}</li>
                {@ }); @}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/html" id="project-wall-view">
    <div class="wall-poster-container">
      <textarea placeholder="Wall Post" id="wall-add-post-textarea"></textarea>
      <a class="right small radius button" id="wall-post-button">Post</a>
      <br class="clear" />
      <hr />
    </div>
    <div class="wall-post-container"></div>
  </script>

  <script type="text/html" id="wall-item">
    <div class="row">
      <div class="one columns avatar">
        <img src="http://www.gravatar.com/avatar/{[ hex_md5(post.get('author')['emails'][0]) ]}?s=50&r=pg" />
      </div>
      <div class="eleven columns">
        <div class="wall-content">
          <strong>{[ post.get("author")["name"] ]}</strong>: {[ post.get("content") ]}
        </div>
        <div class="wall-meta">
          {[ utils.relative_time(post.get("pubdate")) ]}
          {@ if (post.get("author")["key"] == window.current_user_key){ @}
          | <a href="" class="red delete-post" data-key="{[ post.get('key') ]}" title="Delete">&times;</a>
          {@ } @}
        </div>
      </div>
    </div>
    <hr />
  </script>

  <script type="text/html" id="todo-item-details-view">
    <a href="" class="close">&times;</a>
    <div class="description">
      {@ if (todo.has("desc") && todo.get("desc")["markdown"].length > 0){ @}
      {[ todo.get("desc")["html"] ]}
      {@ } else { @}
      No long descriptions available
      {@ } @}
    </div>
    <br />
    <div class="right">
    {@ if (todo.has("duedate") && todo.get("duedate").length > 0){ @}
    <span class="radius alert label duedate">due {[ todo.get("duedate") ]}</span>
    {@ } @}
    {@ if (todo.has("assignee") && todo.get("assignee").length > 0){ @}
    <span class="radius label assignee">Assigned to {[ todo.get("assignee")["name"] ]}</span>
    {@ } @}
    {@ _.each(todo.get("categories"), function(category, index, list){  @}
    <span class="radius success label categories">{[ category ]}</span>
    </div>
    <br />
    {@ }); @}
  </script>

  <script type="text/html" id="todo-item-details-edit-view">
    <a href="" class="close">&times;</a>
    <input type="text" class="title" value="{[ todo.get('title') ]}" placeholder="Title"/>
    <textarea placeholder="Long description" class="desc" rows="4">{@ if (todo.get("desc")){ @}{[ todo.get("desc")["markdown"] ]}{@ } @}</textarea>
    <div class="row">
      <div class="four columns">
        Due date:
        <input type="text" placeholder="Due date" class="duedate" value="{[ todo.get('duedate') ]}" />
      </div>
      <div class="four columns">
        Assigned to:
        <select class="assignee">
          {@ _.each(possible_assignees, function(assignee, index, list){ @}
          <option value="{[ assignee['key'] ]}"{@ if (assignee["key"] == todo.get("assignee")){ @} selected="selected"{@ } @}>{[ assignee["name"] ]}</option>
          {@ }); @}
        </select>
      </div>
      <div class="four columns">
        Category:
        <select class="categories">
          {@ _.each(possible_categories, function(category, index, list){ @}
          <option value="{[ category ]}"{@ if (category == todo.get("categories")){ @} selected="selected"{@ } @}>{[ category ]}</option>
          {@ }); @}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <a href="" class="small right radius button todo-item-details-update-button">Update</a>
      </div>
    </div>
  </script>

  <script type="text/html" id="todo-item-view">
    <div class="todo-item">
      <span class="custom checkbox{@ if (todo.get('done')){ @} checked{@ } @}"></span>
      <span class="text{@ if (todo.get('done')){ @} done{@ } @}">{[ todo.get("title") ]}</span>

      {@ if (can_edit){ @}
      <div class="control"> <a href="" class="delete">Delete</a></div>
      <div class="control"><a href="" class="edit">Edit</a> |</div>
      {@ } @}
    </div>

    <div class="todo-item-details radius panel">
    </div>

    {@ if (can_edit){ @}
    <div class="todo-item-details-edit radius panel">
    </div>
    {@ } @}

    {@ if (!last){ @}
    <div class="todo-sep"></div>
    {@ } @}
  </script>

  <script type="text/html" id="todo-view">
    <form class="custom">
    <p class="title">Todos <span class="right"><small><a href="" data-hide-done="0" id="todo-filter-done">Hide done</a></small> | <a href="" id="todo-add-item" title="Add Item">+</a></span></p>
    <div id="todo-items-container">
      <div class="row" id="todo-new-container">
        <div class="nine columns">
          <input type="text" id="todo-new-item" placeholder="New Todo" />
        </div>
        <div class="three columns">
          <a href="" id="todo-add-item-button" class="small radius button">Add</a>
          <a href="" id="todo-add-item-cancel-button" class="small radius button">Cancel</a>
        </div>
      </div>
    </div>
    </form>
  </script>

  <script type="text/html" id="schedule-view">
    <p class="title">
      Meeting Schedules
      {@ if (can_manage){ @}
      <a href="" class="right" id="add-meeting">+</a>
      {@ } @}
    </p>

    <div id="meeting-add-box" class="panel radius">
      <a href="" class="close">&times;</a>
      <form>
        <input type="text" placeholder="Title" id="meeting-new-title" />
        <input type="text" placeholder="Location" id="meeting-new-location" />
        <textarea placeholder="Long Description" id="meeting-new-desc" rows="4"></textarea>
        <div class="row">
          <div class="six columns">
            <input type="text" class="datetimepicker" id="meeting-new-start-time" placeholder="Start Time" />
          </div>
          <div class="six columns">
            <input type="text" class="datetimepicker" id="meeting-new-end-time" placeholder="End Time" />
          </div>
        </div>
        <div class="right">
          <a class="small radius alert button" id="meeting-new-cancel">Cancel</a>
          <a class="small radius button" id="meeting-new-add">Add</a>
        </div>
        <br />
      </form>
    </div>

    {@ if (nextmeeting){ @}
    <div class="alert-box secondary" id="next-meeting">
      Next meeting: {[ nextmeeting.get("starttime") ]} - {[ nextmeeting.get("endtime") ]} |
      Location: {[ nextmeeting.get("location") ]} <a href="" class="right" class="meeting-item-desc-link" data-key="{[ nextmeeting.get('key') ]}">Details</a>
    </div>
    {@ } @}

    <h5>Upcoming Meetings</h5>
    <table class="twelve center">
      <thead>
        <th class="four">Title</th>
        <th class="four">Time</th>
        <th class="four">Location</th>
      </thead>
      <tbody id="meetings-upcoming">

      </tbody>
    </table>

    <h5>Previous Meetings</h5>
    <table class="twelve center">
      <thead>
        <th class="four">Title</th>
        <th class="four">Time</th>
        <th class="four">Location</th>
      </thead>
      <tbody id="meetings-previous">

      </tbody>
    </table>
  </script>

  <script type="text/html" id="schedule-details-view">
    <p class="title inline">{[ title ]}</p>
    <hr />
    <p class="meeting-details-info-box">
    Location: {[ location ]} <br /> Time: {[ starttime ]} - {[ endtime ]}
    </p>
    <p>&nbsp;</p>
    {@ if (desc["html"]){ @}
    {[ desc["html"] ]}
    {@ } else {@}
    <p>No descriptions available.</p>
    {@ } @}
  </script>

  <script type="text/html" id="schedule-single-item-view">
      <td>
        <a href="" class="meeting-item-desc-link">{[ title ]}</a>
        {@ if (can_manage){ @}
        <a href="" class="right red meeting-item-delete">&times;</a>
        {@ } @}
      </td>
      <td>{[ starttime ]} - {[ endtime ]}</td>
      <td>{[ location ]}</td>

  </script>

  <footer class="row">
    <a href="http://carletonrobotics.com">CU Robotics</a> | <a href="http://shuhaowu.com">Shuhao Wu</a> 2012 | <a href="#/credits">Credits</a>
  </footer>

  <script src="/static/javascripts/showdown.js"></script>
  <script src="/static/javascripts/jquery.js"></script>
  <script src="/static/javascripts/jquery-ui-1.9.1.custom.min.js"></script>
  <script src="/static/javascripts/jquery-ui-timepicker.js"></script>
  <script src="/static/javascripts/jquery.foundation.reveal.js"></script>
  <script src="/static/javascripts/md5-min.js"></script>
  <script src="/static/javascripts/underscore-min.js"></script>
  <script src="/static/javascripts/backbone-min.js"></script>
  <script src="/static/javascripts/app.js"></script>

  <div id="shared-modal" class="reveal-modal">
    <div id="shared-modal-content"></div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</body>
</html>
